
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="socket.io.js"></script>

   </head>

   <body>
   	<audio id="audio1" src="/sound/notthedroids.wav"></audio>
   	<audio id="audio2" src="/sound/illbeback.wav"></audio>
   	<!--<audio id="audio2" src="/sound/"-->

   	<script>
  		var socket = io.connect('http://localhost');
  		socket.on('sound', function(data){
  			console.log(data)
  			if(data.fileName == "notthedroids.wav"){
  				document.getElementById('audio1').play();
  			}
  			if(data.fileName == "illbeback.wav"){
  				document.getElementById('audio2').play();
  			}
  		}
  	</script>
   
   </body>
  </html>
	